:root {
    --primary-color: #040464;
    --secondary-color: #312E2E;
    --span-color: #f1e31c;
    --border-color: #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 20px auto;
    font-family: "Roboto", sans-serif;
}

#course-title {
    color: var(--span-color);
    font-size: 1.5rem;
}

header h1 {
    display: block;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: var(--primary-color);
}

nav {
    background-color: var(--secondary-color);
    height: 40px;
}

nav ul {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
}

nav ul li a {
    text-decoration: none;
    color: white;
    line-height: 40px;
    display: block;
}

nav ul li {
    padding: 0 8px;
    list-style: none;
    flex: 1;
    transition: background-color 0.3s;
}

nav ul li:hover {
    background-color: black;
}

main {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
    width: 90%;
    margin: 20px auto;
}

.card {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 10px;
    margin-bottom: 10px;
}

.card ul {
    margin: 40% 40px;
    line-height: 1.8;
}

.dev {
    font-size: 0.9rem;
    color: #6112bb;
    font-weight: 500;
}

.udemy {
    font-size: 0.9rem;
    color: #4747f8;
    font-weight: 500;
}
.card h2 {
    background-color: var(--primary-color);
    padding: 8px;
    color: white;
    text-align: center;
    margin: -10px -10px 10px -10px;
    border-radius: 8px 8px 0 0;
}

#left-card-content p {
    margin-bottom: 10px;
    line-height: 1.5;
}

#left-card-content img {
    float: right;
    margin: 0 0 10px 20px;
    height: auto;
}

#hometown {
    position: relative;
    margin-top: 20px;
}

#hometown h1 {
    position: absolute;
    padding: 0 60px 0 60px;
    top: -50px;
    left: 50px;
    border-bottom: 1px solid var(--border-color);
}

#hometown div {
    margin-top: 80px;
}

#hometown p {
    max-width: 470px
}

#hometown #img {
    position: relative;
    float: left;
    margin: 0 20px 0px 10px;
    height: auto;
}

#hometown #img em {
    position: absolute;
    font-size: 0.8rem;
    left: 0px;
    bottom: -40px;
}

footer {
    background-color: var(--primary-color);
    padding: 15px;
    color: white;
    text-align: center;
    border-radius: 5px;
}